body{
    width: 1200px;
}

header{
    background-color: rgb(252, 135, 135);
    border: thin solid black;
    border-radius: 100px/120px 1px;
    text-align: center;
    min-width:960px;    
}

header img{
    max-width: 85%vw;
}

aside {
    display: inline-block;
    background-color: rgb(252, 135, 135);

    border: thin solid black;
    border-radius: 0px 100px/120px;
    padding-right: 10px;
    margin-top: 5px;
    width: 150px;
    height: 1600px;
    text-align: left;    
}

aside nav{
    margin-top:150px;
    margin-right: 10px;
}

nav ul{
    list-style-type: none;
    font-size: 1.5em;
    padding-inline-start:0 ;
}
li ul{
    font-size: 1em;
    margin:0px;
}

li a{
    font-size: .7em;
}

li{
    width: 130px;
}

#location li{
    margin: 5px;
}

.hours{
    margin:10px 0px
}

nav li{
    margin:50px 0px
}

main {

    display: inline-block;
    background-color: #fcbf49;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 0px 100px / 120px;
    width: 840px;

}


main h3{
    display: block;
    vertical-align: top;
    border-radius: 0px 100px/120px;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 2.1em;
    padding: .5em;
    background-color: #fcbf49;
    border:thin solid black;
    width: 500px; ;
    font-family: 'Fjalla One', sans-serif;
    color:#003049;
}

em{
    font-family: 'Carattere', cursive;
    font-size: 2em;
    color: #fcbf49;
    text-shadow:  2px 2px black;
}

body{
    background-color: #6B2737;
}

h2 {
    padding: 1.5 em 1.5em;
    margin-bottom: 0;
}

h1 {
    color:#003049;
    max-width: 100%;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5em;

}

td {
    font-family: sans-serif;
    margin: .5em;
    border: thin solid #69A197;
    min-width: 100px;
    padding-left: 10px;
    background-color: #69A197;
    border-radius: 5px;
}

table {
    background-color: rgb(252, 135, 135);
    border-radius: 5px;
}

section img{
    max-width: 250px;
}

.sokey{
    display: block;
}

section p{
    vertical-align: bottom;
}

section{
    display: inline-block;
    vertical-align: top;
    background-color: #fcbf49;
    border:thin solid black;
    font-family: 'Fjalla One', sans-serif;
    height:300px;
    max-width: 260;
    margin: 10px;
    text-align: center;
    color:#003049;

}